In [2]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

## abs()

**return the absolute value of a number**

In [11]:
print("The absolute value of -5: ", abs(-5))

The absolute value of -5:  5

## all()

**The all() function returns True if all elements in the given iterable are true. If not, it returns False.**

In [57]:
list = [False,True,True]
result = all(list)
print(result)

False

## any()

**The any() function returns True if any element of an iterable is True. If not, it returns False.**

In [65]:
list = [False,False,False]
result = any(list)
print(result)

False

## ascii()

**The ascii() method replaces a non-printable character with its corresponding ascii value and returns it.**

In [69]:
text = 'Pyth√∂n is interesting'

print(ascii(text))

'Pyth\xf6n is interesting'

## bin()

**The bin() method converts a specified integer number to its binary representation and returns it.**

In [75]:
num = 15
print(bin(num))

0b1111

## bool()

**The bool() method takes a specified argument and returns its boolean value.**

In [79]:
test = 5
print(bool(5))

True

## dir()

**The dir() function returns all properties and methods of the specified object, without the values. even built-in properties which are default for all object.**

In [113]:
class employee:
    Name = 'Aardra R'
    Age = 22
    Country = 'India'
print(dir(employee))

['Age', 'Country', 'Name', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__']

## zip()

 **iterate over multiple iterables. It takes corresponding elements from all the iterable passed to it and merges them in a tuple.**

In [32]:
a = ('Ann','Rose','Bob')
b = ('Augustine','Mary','Marley')
print(tuple(zip(a,b)))
new_list = [tuple(zip(a,b))]
print(type(new_list))
for i in new_list:
    print(i)

(('Ann', 'Augustine'), ('Rose', 'Mary'), ('Bob', 'Marley'))
<class 'list'>
(('Ann', 'Augustine'), ('Rose', 'Mary'), ('Bob', 'Marley'))

In [34]:
for i in tuple(zip(a,b)):

    print(i[1])

Augustine
Mary
Marley

## dict()

**The dict() function creates a dictionary.**

**A dictionary is a collection which is unordered, changeable and indexed.**

In [138]:
x = dict(Name= 'Aardra R', Age = 22, Country = 'India')
print(x)

{'Name': 'Aardra R', 'Age': 22, 'Country': 'India'}

## enumerate()

**The enumerate() function adds a counter to an iterable and returns it as an enumerate object (iterator with index and the value).**

In [55]:
names = ('Aardra','Arya','Sree')
print(dict(enumerate(names)))
print(list(enumerate(names)))
print(tuple(enumerate(names)))

{0: 'Aardra', 1: 'Arya', 2: 'Sree'}
[(0, 'Aardra'), (1, 'Arya'), (2, 'Sree')]
((0, 'Aardra'), (1, 'Arya'), (2, 'Sree'))

## float()

**The float() method returns a floating point number from a number or a string.**

In [61]:
str = '1'
print(float(str))
int = 3
print(float(int))

1.0
3.0

## help()

**The help() method is used for interactive use. It's recommended to try it in your interpreter when you need help to write Python program and use Python modules.**

In [70]:
import math
help(math.cos)

Help on built-in function cos in module math:

cos(x, /)
    Return the cosine of x (measured in radians).

## input()

**The input() function takes input from the user and returns it.**

In [76]:
n = input("Enter a name: ")
print(n)

Enter a name:  Aardra

Aardra

## int()

**The int() function converts a number or a string to its equivalent integer.**

In [220]:
num = -2.5
print(int(num))

TypeError: 'int' object is not callable

## isinstance()

**The isinstance() function checks if the object (first argument) is an instance or subclass of classinfo class (second argument).**

In [92]:
num = (2,3,4,55)
print(isinstance(num,list))

False

## len()

**Length**

In [96]:
print(len('aardra'))

6

## list()

**The list() constructor converts an iterable (dictionary, tuple, string etc.) to a list and returns it.**

In [104]:
num = {2:3,4:3}
print(list(num))

[2, 4]

In [102]:
vowel_dictionary = {'a': 1, 'e': 2, 'i': 3, 'o':4, 'u':5}
print(list(vowel_dictionary))

['a', 'e', 'i', 'o', 'u']

## map()

**The map() function takes two arguments:**

function - a function that is applied to each element of an iterable. \
iterables - iterables such as lists, tuples, etc.

In [125]:
num = [1,5,6]
def square(num):
    return num*num
x = map(square,num)
print(set(x))

{1, 36, 25}

## range()

**The Python range() function generates a sequence of numbers.**

**By default, the sequence starts at 0, increments by 1, and stops before the specified number.**

In [142]:
num = range(10,15,2)
print(list(num))
num = range(3)
print(list(num))
num = range(2,30)
print(tuple(num))

[10, 12, 14]
[0, 1, 2]
(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29)

## max()

**Maximum value**

In [130]:
n = 'aardra','zen','cali'
print(max(n))

zen

## min()

**Minimum Value**

In [136]:
n = (1, -55 ,995 )
print(min(n))

-55

## print()

**The print() function prints the given object to the standard output device (screen) or to the text stream file.**

In [148]:
print('Hi')

Hi

## reversed()

**The reversed() function returns an iterator object that provides access to the elements of an iterable (list, tuple, string, etc.) in reverse order.**

In [156]:
num = (88,52,64,5)
print(list(reversed(num)))

[5, 64, 52, 88]

## round()

**The round() function rounds a number.**

In [163]:
print(round(5.2))
print(round(2.55655,3))

5
2.557

## Set()

**The set() function creates a set in Python.**

In [169]:
n = (1,5,96,5,5,5)
print(set(n))

{96, 1, 5}

In [171]:
print(set())

print(set('Python'))

print(set(('a', 'e', 'i', 'o', 'u')))

print(set(['a', 'e', 'i', 'o', 'u']))

print(set(range(5)))

set()
{'o', 't', 'P', 'n', 'h', 'y'}
{'o', 'e', 'a', 'u', 'i'}
{'o', 'e', 'a', 'u', 'i'}
{0, 1, 2, 3, 4}

## Sorted()

**The sorted() method sorts the elements of the given iterable in ascending order and returns it.**

In [176]:
num = [5,5,6,2,5,5,65,5]
print(sorted(num))

[2, 5, 5, 5, 5, 5, 6, 65]

## Sort in Descending Order

In [183]:
num = [5,5,6,2,5,5,65,5]
print(sorted(num,reverse=True))

[65, 6, 5, 5, 5, 5, 5, 2]

## Sorting With the Key Function

In [196]:
fruit = ('apple', 'orange', 'cherry')
sorted_fruit = sorted(fruit, key=len)
print(sorted_fruit)

['apple', 'orange', 'cherry']

## str()

**The str() method returns the string representation of a given object.**

In [204]:
print(str('adam'))

TypeError: 'str' object is not callable

## sum()

**The sum() function adds the items of an iterable and returns the sum.**

In [207]:
n = [1,5,5,2,5,5]
total = sum(n)
print(total)

23

## type()

**The type() function either returns the type of the object or returns a new type object based on the arguments passed.**

In [216]:
n = 4,6
print(type(n))

<class 'tuple'>