## Python Strings

**String is a sequence of characters. For example, "hello" is a string containing a sequence of characters 'h', 'e', 'l', 'l', and 'o'.**

In [6]:
string1 = "Hey"
print(string1)

Hey

## Access String Characters in Python

**We can access the characters in a string in three ways**

1. **Indexing**
2. **Negative Indexing**
3. **Slicing**

In [10]:
name = 'Aardra'
print(name[2])
print(name[-1])
print(name[1:3])

r
a
ar

**Note:** If we try to access an index out of the range or use numbers other than an integer, we will get errors.

## Python Strings are Immutable

**In Python, strings are immutable. That means the characters of a string cannot be changed.**

In [16]:
cat = 'julie'
cat[1] = 'o'
print(cat)

TypeError: 'str' object does not support item assignment

**However, we can assign the variable name to a new string.**

In [22]:
cat = 'kitty'
cat = 'cutee'
print(cat)
cat = 'julie'
dog = cat
print(dog)

cutee
julie

## Python Multiline String.

**We can also create a multiline string in Python. For this, we use triple double quotes """ or triple single quotes '''.**

In [34]:
word = ''' 
let her go
let her go
let her go
'''
print(word)

let her go
let her go
let her go

## Python String Operations

1. **Compare**

In [38]:
a = 'hey'
b = 'hello'
print(a==b)

False

2. **Joint**

In [43]:
a = 'Python '
b = 'is awesome'
print(a+b)

Python is awesome

## Iterate Through a Python String

In [46]:
language = 'python'
for i in language:
    print(i)

p
y
t
h
o
n

**Python String length**

In [49]:
print(len(language))

6

**Membership Test**

In [53]:
print('y' in language)

True

## Methods

## upper()

In [58]:
String = ('Halo Everyone My name is Aardra R')

In [62]:
print(String.upper())

HALO EVERYONE MY NAME IS AARDRA R

## lower()

In [64]:
print(String.lower())

halo everyone my name is aardra r

## partition()

In [70]:
print(String.partition('My'))

('Halo Everyone ', 'My', ' name is Aardra R')

## replace()

In [81]:
a = 'bat ball'
re_a = a.replace('ba', 'ro')
print(re_a)

rot roll

## find()

**The find() method returns the index of first occurrence of the substring (if found). If not found, it returns -1.**

In [117]:
string = 'Hy my name is  Aardra R'
print(string.find('a'))

7

In [101]:
if string.find('is')!= -1:
    print("contain substring ")
else:
    print("dont contain substring")

contain substring

## capitalize()

**Converts the first character to upper case**

In [121]:
print(string.capitalize())

Hy my name is  aardra r

## casefold()

In [124]:
print(string.casefold())

hy my name is  aardra r

## centre()

In [135]:
print(string.center(30,'*'))

***Hy my name is  Aardra R****

## count()

In [138]:
print(string.count('a'))

3

## encode()

**The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.**

**Syntax**

string.encode(encoding=encoding, errors=errors)

**A String specifying the error method. Legal values are:**

'backslashreplace'	- uses a backslash instead of the character that could not be encoded \
'ignore'	- ignores the characters that cannot be encoded \
'namereplace'	- replaces the character with a text explaining the character \
'strict'	- Default, raises an error on failure \
'replace'	- replaces the character with a questionmark \
'xmlcharrefreplace'	- replaces the character with an xml character

In [159]:
txt = "My name is Aårdrå"
print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is A\\xe5rdr\\xe5'
b'My name is Ardr'
b'My name is A\\N{LATIN SMALL LETTER A WITH RING ABOVE}rdr\\N{LATIN SMALL LETTER A WITH RING ABOVE}'
b'My name is A?rdr?'
b'My name is A&#229;rdr&#229;'

## format()

In [239]:
amnt = "For only {price:.2f} dollars!"
print(amnt.format(price = 49))

For only 49.00 dollars!

## isidentifier()

In [250]:
y = '2aardr_5'
print(y.isidentifier())

False

## isdigit()

In [259]:
y = '0'
print(y.isdigit())

True

## isalpha()

In [274]:
r = 'a'
print(r.isalpha())

True

## islower()

In [277]:
a ='ahana is very kIND'
print(a.islower())

False

## isspace()

In [281]:
txt = "   "
x = txt.isspace()
print(x)

True

## Join()

In [287]:
myTup = ("Aardra", "Arya", "Sree")

x = ":".join(myTup)

print(x)

Aardra:Arya:Sree

## endswith()

In [302]:
txt = "Hello, welcome to my world."
print(txt.endswith('.'))

True