## Python Sets

**A set is a collection which is unordered, unchangeable, and unindexed.**

**Note:** Set items are unchangeable, but you can remove items and add new items.

## **Set Methods**

## add()	 	

**Adds an element to the set**

In [2]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'orange', 'banana', 'apple', 'cherry'}

## clear()	 	

**Removes all the elements from the set**

In [4]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

## copy()	 

**Returns a copy of the set**

In [6]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'banana', 'apple', 'cherry'}

## difference()	

Symbol **-**	

**Returns a set containing the difference between two or more**

In [8]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [10]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

myset = a - b

print(myset)

{'banana', 'cherry'}

In [12]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a.difference(b, c)

print(myset)

{'banana'}

In [14]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a - b - c

print(myset)

{'banana'}

## difference_update()	

**-=**	

**Removes the items in this set that are also included in another, specified set**

In [16]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [18]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

a -= b

print(a)

{'banana', 'cherry'}

## discard()

**Remove the specified item**

In [20]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'apple', 'cherry'}

## intersection()	

**&**

**Returns a set, that is the intersection of two other sets**

In [22]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x & y

print(z)

{'apple'}

In [26]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

In [28]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x & y & z

print(result)

{'c'}

## intersection_update()	

**&=**

**Removes the items in this set that are not present in other, specified set(s)**

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [32]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x &= y

print(x)

{'apple'}

In [34]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

In [36]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x &= y & z

print(result)

{'c'}

## isdisjoint()	 	

**Returns whether two sets have a intersection or not**

In [38]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

## issubset()	

    <=	Returns whether another set contains this set or not
 	<	Returns whether all items in this set is present in other, specified set(s)

In [44]:
x = {"apple", "banana", "cherry"}
y = {"apple", "banana", "facebook",'cherry'}

z = x.issubset(y)

print(z)

True

In [50]:
x = {"apple", "banana", "cherry"}
y = {"apple", "banana", "facebook",'cherry'}

z=  x <= y

print(z)

True

In [54]:
x = {"apple", "banana", "cherry"}
y = {"apple", "cherry", "facebook",'banana'}

z=  x < y

print(z)

True

## issuperset()	


    >=	Returns whether this set contains another set or not
 	>	Returns whether all items in other, specified set(s) is present in this set

In [22]:
x = {"apple","orange","pineapple"}
y= {"apple","cherry","mango","pineapple","orange"}
z = y.issuperset(x)
print(z)

True

## pop()	 	

**Removes an element from the set**

In [30]:
x = {"apple","orange","pineapple"}
x.pop()
print(x)

{'apple', 'orange'}

## remove()	 	

**Removes the specified element**

In [34]:
x = {"apple","orange","pineapple"}
x.remove("apple")
print(x)

{'pineapple', 'orange'}

## symmetric_difference()	

    ^	Returns a set with the symmetric differences of two sets

In [36]:
x = {"apple","orange","pineapple"}
y= {"apple","cherry","mango","pineapple","orange"}
z = x^y
print(z)

{'cherry', 'mango'}

## symmetric_difference_update()	

    ^=	Inserts the symmetric differences from this set and another

In [48]:
x = {"apple","orange","pineapple"}
y= {"apple","cherry","mango","pineapple","orange"}
x.symmetric_difference_update(y)
print(x)
print(y)

{'cherry', 'mango'}
{'pineapple', 'cherry', 'apple', 'mango', 'orange'}

## union()	

    |	Return a set containing the union of sets

In [50]:
x = {"apple","orange","pineapple"}
y= {"apple","cherry","mango","pineapple","orange"}
z = x | y
print(z)

{'cherry', 'pineapple', 'apple', 'mango', 'orange'}

## update()	

    |=	Update the set with the union of this set and others

In [58]:
x = {"apple","orange","pineapple"}
y= {"apple","cherry","mango","pineapple","orange"}
x.update(y)
print(x)
print(y)

{'cherry', 'pineapple', 'apple', 'mango', 'orange'}
{'pineapple', 'cherry', 'apple', 'mango', 'orange'}

## Duplicate Items in a Set

In [66]:
numbers = {1,5,8,5,5,86,2,6,6,1,20}
print(numbers)

{1, 2, 20, 5, 6, 86, 8}