# Python Basic Input and Output

In [23]:
print("   *  ")
print(" *   * ")
print("*  *  *")

   *
 *   *
*  *  *

Syntax of print()

syntax of the print function accepts 5 parameters

print(object= separator= end= file= flush=)

Here,

object - value(s) to be printed
sep (optional) - allows us to separate multiple objects inside print().
end (optional) - allows us to add add specific values like new line "\n", tab "\t"
file (optional) - where the values are printed. It's default value is sys.stdout (screen)
flush (optional) - boolean specifying if the output is flushed or buffered. Default: False

### Python print statement

In [28]:
print("Hi")
print('My name is Aardra')

Hi
My name is Aardra

### Python print() with end Parameter

In [32]:
print('Hi', end= ' ' )
print ('I am Aardra')

Hi I am Aardra

### Python print() with sep Parameter

In [40]:
print('Name', 'Aardra', 'Age', 22, sep=':')

Name:Aardra:Age:22

### Print Python Variables and Literals

In [43]:
num = 11
name  ='AArdra'
print(5)
print(num)
print(name)

5
11
AArdra

### Print Concatenated Strings

In [48]:
print(" I am "  + "Aardra R")

 I am Aardra R

### Output Formatting

In [57]:
x = 11
y = 5
print('The value of x is {} and y is {}'. format(x,y))

#Here, the curly braces {} are used as placeholders. We can specify the order in which they are printed by using numbers (tuple index).

The value of x is 11 and y is 5

### Python User Input

In [82]:
num = input('Enter a number: ')
print("The entered number is:", num)
print("Data type of num is:", type(num))

Enter a number:  5

The entered number is: 5
Data type of num is: <class 'str'>

In [84]:
#To convert user input into a number we can use int() or float() functions as:
num =  int(input("Enter a number: "))
print("The entered number is:", num)
print("Data type of num is:", type(num))

Enter a number:  5

The entered number is: 5
Data type of num is: <class 'int'>