### Types of Python Operators
1. Arithmetic Operators2. Assignment Operators
3. Comparison Operators4. Logical Operators
5. Bitwise Operators
6. 
Special Operators

### Arithmetic Operators in Python

In [17]:
x = 5
y = 11

#Addition
print("Sum:" , x+y)

#subtraction
print("subtract:", x-y)

#multiplication
print("multiplication:", x*y)

#divison
print("Division", x/y)

#modulus
print("modulus", x%y)

#floor division
print("floor division", x//y)

#power
print("power of y to x is:", y**x)

Sum: 16
subtract: -6
multiplication: 55
Division 0.45454545454545453
modulus 5
floor division 0
power of y to x is: 161051

### Assignment Operators

In [20]:
a = 10
b = 5
a +=b               #a =a + b
print(a)

15

Here, we have used the += operator to assign the sum of a and b to a.

### Python Comparison Operators

Comparison operators compare two values/variables and return a boolean result: True or False

In [24]:
a = 10
b = 5
print(a>b)

True

In [28]:
a = 11
b = 20
print("a==b=", a==b)
print("a!=b=", a!=b)
print("a>b", a>b)
print("a<=b", a<=b)

a==b= False
a!=b= True
a>b False
a<=b True

### Python Logical Operators

In [41]:
a = 5
b = 6
print((a == b) and ( a > b))
print((a!=b) and (a>b))
print((a!=b) and (a<b))

False
False
True

In [47]:
a = 5
b = 6
print((a==b) or (a<b))
print((a!=b) or (a<b))
print((a==b) or (a>b))

True
True
False

In [51]:
a = 5
b = 6
print(a!=b)
print(a==b)

True
False

## Identity operators in Python

is and is not are used to check if two values are located at the same memory location.

In [55]:
x1 = 11
y1 = 11
x2 = 'Navalt'
y2 = 'Navalt'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

Here, x1 and y1 are integers of the same values, so they are equal as well as identical. The same is the case with x2 and y2 (strings).

**But x3 and y3 are lists. They are equal but not identical. It is because the interpreter locates them separately in memory, although they are equal.**

## Membership operators

In Python, in and not in are the membership operators. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In [71]:
a = 'Navalt'
b = {1:'x', 2:'y'}
print('N' in a)
print('navalt' in a)
print(1 in b)
print(y in b)

True
False
True
False

Here, 'N' is in Navalt, but 'navalt' is not present in Navalt **(remember, Python is case-sensitive)**.

Similarly, 1 is key, andx'a' is the value in dictionary dict1. Hence,x'a' in y returns False